.up-text span {
    color: #8420B3;
  }

  .delete-button{
    background-color: white;
    height: 60px;
    width: 350px;
    border: 2px solid #FF0000;
    border-radius: 20px;
  }

  .delete-button span{
    color: #FF0000;
    font-size: 20px;
  }
  .card{

    text-align: center;
  }

  .card p{
    margin-right: 100px;
    font-size: 20px;
    font-weight: 800;

  }
  .card span{
    font-size: 20px;
    font-weight: 400;
    color: #5152BC;
  }

  .details{
    display: flex;
  }

  /* Diagnostic.css */

.breadcrumb-line {
  border: 0;
  height: 2px;
  background: #D0D0D0; /* You can change the color as needed */
  margin: 10px 0; /* Adjust the spacing as needed */

}

.diagnosis{
  background-color: white;
  height: 100%;
  margin-left: 70px;
  border: 2px solid #D0D0D0;
}

.diagnosis p{
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
}
.diagnosis span{
  margin-top: 10px;
  color: black;
  font-weight: 400;
  text-align: left;
}